<!DOCTYPE html>
<html>
  <head>
    <title>Launchpad Reporting</title>
  </head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <body>
    <fieldset>
    <form action="/report" method="post">
        <label for="usernames">Usernames: </label>
        <input type="text" name="usernames" size="50" placeholder="user1 user2 user3 .." required></input><br>
        <label for="date">Date (Y-M-D): </label>
        <input type="text" name="date" size="50" placeholder="2016-01-01" required></input><br>
        <input type="submit" value="Submit">
    </form>
    </fieldset>
  </body>
</html>
