<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <head>
    <title>Launchpad Reporting</title>
  </head>

  <body>
    <form action="/report" method="post">
        <label for="usernames">Usernames</label>
        <input type="text" name="usernames"></input><br>
        <label for="date">Date (Y-M-D)</label>
        <input type="text" name="date"></input><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
