<html>
    <head>
        <title>Launchpad Reports</title>
    </head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <body>
    <table>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Bug URL</th>
        </tr>
        {% for bugs in bug_table %}
        <tr>
            <td>{{bugs[0]}}</td>
            <td>{{bugs[1]}}</td>
            <td><a href="{{bugs[2]}}">{{bugs[2]}}</a></td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>
